html{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: #ccc;
    overflow-x: hidden;
}

header{
    max-width: 100%;
    height: 40px;
    background-color: rgb(236, 236, 60);
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(168, 144, 8);
    height: 100%;
}

.header nav{
    margin: 0;
    padding: 8px;
}

.header nav ul{
    display: flex;
    width: 100%;
    margin: 0;
    flex-flow: wrap row;
    align-items: flex-end;
    justify-content: flex-start;
}

ul li{ 
    list-style: none;
    margin: 0 10px;
}

li a{
    text-decoration: none;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-style: italic;
    color: white;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
    gap: 0.3rem;
}

.users{
    background-color: goldenrod;
    width: 100%;
    padding: 0;
    margin: 0;
}

.wrapper > div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-row: span 1;
    gap: 4%;
    background-color: white;
    
}

.text_cont{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
}

.wrapper > div h1, h3{
    display: block;
    margin: 5px 0;
    font-size: 20px;
    font-family: cursive;
    padding: 0;
}

figure{
    width: 80%;
    border-radius: 45%;
    grid-column: span 1;
}

figure > img{
    border-radius: 45%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}