html{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: #ccc;
    overflow-x: hidden;
}

header{
    max-width: 100%;
    height: 40px;
    background-color: rgb(236, 236, 60);
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(168, 144, 8);
    height: 100%;
}

.header nav{
    margin: 0;
    padding: 8px;
}

.header nav ul{
    display: flex;
    width: 100%;
    margin: 0;
    flex-flow: wrap row;
    align-items: flex-end;
    justify-content: flex-start;
}

ul li{ 
    list-style: none;
    margin: 0 10px;
}

li a{
    text-decoration: none;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-style: italic;
    color: white;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
    gap: 0.3rem;
}

.users{
    background-color: goldenrod;
    width: 100%;
    padding: 0;
    margin: 0;
}

.wrapper > div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto;
    grid-row: span 1;
    gap: 3%;
    background-color: white;
    
}

.text_cont{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
}

.wrapper > div h1, h3,a{
    display: block;
    margin: 5px 0;
    font-size: 20px;
    font-family: cursive;
    padding: 0;
}

.wrapper figure{
    max-width: 50%;
    border-radius: 50%;
    grid-column: span 1;
    align-content: center;
    padding: 3px;
    border: 3px solid gold;
}

.wrapper div{
    order: 1;

}


figure > img{
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.user_register{
    width: 100%;
    background-color: rgb(201, 159, 52);
    padding: 10px;
    text-align: center;
    align-content: center;
    color: white;
    font-family: cursive;
}

.register > form{
    display: flex;
    flex-flow: column wrap;
    width: 70%;
    height: 190px;
    background-color:inherit;
    padding: 8px;
    justify-content: center;
    gap: 5%;
    margin: 0px auto;

}

form input,button{
    width: 180px;
    padding: 5px;
    outline: none;
    border: none;
    margin: 0 auto;
}

.error{
    margin: 5px 2px;
    color: red;
    font-weight: bold;
}




@media (min-width: 500px){
    .wrapper > div{
        gap: 1%;
    }

    figure{
        max-width: 80%;
    }
}


@media (min-width:800px){
    .wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}